/* TABLE OF CONTENT 
---- Order of Styles-----
1. General Styling
2. Group (Tag) Styles
3. Main
4. Intersection and hidden styles
5. Media Query

*/

/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

/* Group Styling */
p {
  line-height: 1.6rem;
}

a {
  text-decoration: none;
}

section,
.skills nav,
section.skills--list {
  padding: 1rem;
}

section,
section.skills {
  padding-top: 3rem;
}

#projects h5 {
  text-decoration: underline;
}

/* Nav Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  margin-top: -5px;
  z-index: 2;
  background-color: #bface2;

  & .first-h3 {
    letter-spacing: 1px;
  }

  & p {
    font-family: none;
    font-size: 15px;
  }
}

.fixed-nav nav {
  position: fixed;
  top: 0;
  width: 100%;
}

span.menu-icon--span {
  cursor: pointer;
}

div.menu--icon {
  height: 3px;
  width: 30px;
  margin-top: 2px;
  background-color: #666;
}

div.list--item {
  cursor: pointer;
  padding: 15px 30px;
  text-decoration: underline;
  transition: ease-in-out 0.5s;
}

div.list--item:hover,
span.menu-icon--span:hover,
span.cv--span:hover {
  opacity: 0.7;
  font-size: 15px;
  text-decoration: underline;
}

/* Main Body */

.overlay main section {
  opacity: 0.8;
}

/* SECTIONS */
section:nth-child(even),
.skill,
footer {
  background-color: #bface2;
}

section:nth-child(odd),
section.skills--list,
span.cv--span,
section.projects .slider,
section.contact {
  background-color: #a084dc;
}

section {
  &.intro {
    padding-top: 2rem;
  }

  & .skills {
    padding: 0;
  }
}

section.projects div.hidden {
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  text-align: center;

  & h5 {
    text-align: center;
    padding: 0.5rem 0;
  }
}

div.soft--skills {
  padding: 1rem 0;
  text-align: center;

  & .skill {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
  }
}

p.language-used {
  color: red;
  text-align: center;
  letter-spacing: 1px;
}

/* Hidden and Overlay styles */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%) scale(0.95);
  transition: all 0.9s ease-in;
}

.shown {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%) scale(1);
}

/* Transition delay */
.skill-1 {
  transition-delay: 50ms;
}

.skill-2 {
  transition-delay: 200ms;
}
.skill-3 {
  transition-delay: 400ms;
}

.skill-4 {
  transition-delay: 600ms;
}

/* Icons */
.fa {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 0;
}

.fa-mobile-screen {
  font-size: 22px;
  padding: 12px 0;
}

.fa-external-link {
  padding: 0;
  font-size: 15px;
}

.fa-brands {
  font-size: 25px;
}

.fa-x-twitter,
.fa-github {
  color: black;
}

/* Box Shadow */
nav.main-heading,
span.cv--span {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

/* Images */

header.first-header img#my-picture {
  width: 100%;
  margin-bottom: -5px;
}

#skills .sticker-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Resume */
span.cv--span {
  padding: 0.5rem;
  line-height: 3rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.6);
}

span.cv--span .fa {
  font-size: 15px;
  padding: 0 5px;
}

/* CAROUSEL */

.slider {
  width: 100%;
  height: 80vh;
  padding-bottom: 5rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.slide {
  position: absolute;
  height: 350px;
  width: 90%;
}

.slide img {
  height: 350px;
  width: 90%;
  cursor: pointer;
}

#projects .arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 10px;
  cursor: pointer;
}

.arrow#next {
  position: absolute;
  right: 30px;
}

.arrow#previous {
  position: absolute;
  left: 20px;
}

.arrow:hover {
  opacity: 0.7;
}

.arrow:active {
  font-size: 20px;
  transform: scale(1.1);
}

/* CONTACT ME */
section#contact {
  & form {
    display: grid;
    place-items: center;
    text-align: center;
  }

  & input,
  textarea {
    padding: 10px;
    margin: 2px;
    width: 50vw;
  }

  & p {
    padding-bottom: 10px;
  }

  & button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  padding: 1rem 0.5rem;
}

/* MEDIA QUERY AND SCREEN SIZE */
/* SMALL screen size */
@media screen and (max-width: 767px) {
  .menu-display nav {
    height: 15%;
  }

  .menu-display .menu--container {
    display: flex;
    margin-top: 14rem;
    background-color: #bface2;
    transition: ease-in-out 0.3s;
  }

  .menu-list--span {
    display: none;
    z-index: 2;
  }

  .rotate-icon-2 {
    transform: rotate(230deg);
    transition: all 0.3s;
  }

  .rotate-icon-1 {
    transform: rotate(-230deg);
    transition: all 0.3s;
  }

  .menu-display {
    display: block;
  }

  .hide-third-icon {
    display: none;
    transition: ease-in-out 0.5s;
  }

  .overlay-added {
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  div.soft--skills {
    padding: 0 4rem;
  }

  div.soft--skills .skill {
    margin: 10px;
  }
}

/* LARGE screen size */
@media screen and (min-width: 768px) {
  .menu-list--span {
    background-color: #bface2;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 1;
    margin-right: -0.3rem;
  }

  .menu-icon--span {
    display: none;
  }

  div.list--item {
    text-decoration: none;
  }

  div.list--item:hover {
    text-decoration: underline;
    font-size: 17px;
  }

  .fa {
    padding: 15px 0;
  }

  div.soft--skills,
  span.languages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
